body{
    background: scroll;
    background-color: black;
    font-family: serif;
}
.container{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.list-items{
    width: auto;
    height: 35px;
    background-color: whitesmoke;
    color: black;
    list-style: none;
    border: none;
    margin: 1px 0;
    font-size: large;
    text-align: center;
}
#main-heading{
    color: whitesmoke;
    font-size: x-large;
    font-weight: 700;
}
